.Admin-category {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

$form-padding: 20px;
$border-style: 1px solid #ddd;
$border-radius: 5px;
$button-color: #007bff;
$text-color: white;

.formAddCategory {
  margin: $form-padding;
  padding: $form-padding;
  border: $border-style;
  border-radius: $border-radius;
  height: 690px;
  box-shadow: 0 0 5px 0 black;

  input {
    margin-bottom: 10px;
    padding: 10px;
    border: $border-style;
    border-radius: $border-radius;
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: $border-radius;
    background-color: $button-color;
    color: $text-color;
    cursor: pointer;
  }
}

.Admin-listProduct {
  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 5px 0 black;
    /* box-shadow: x y blur scale color inset
            */

    th {
      background-color: $button-color;
      color: $text-color;
      padding: 10px;
      text-align: left;
    }

    td {
      padding: 10px;
      border: $border-style;
    }
  }
}
.Admin-product-action {
  display: flex;
  flex-direction: column;
  gap: 5px;
  & > button {
    padding: 5px;
    border: none;
    border-radius: $border-radius;
    background-color: $button-color;
    color: $text-color;
    cursor: pointer;
  }
}
